{% extends "base.html" %}

{% block content %}
    {% if book %}
<table class="customTable">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>count</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            {{ book.id }}
        </td>
        <td>
            {{ book.title }}
        </td>
        <td>
            {{ book.author }}
        </td>
        <td>
            {{ book.count }}
        </td>
    </tr>
    </tbody>
</table>
    {% else %}
        <h2> Sorry, no books in DB.</h2>
    {% endif %}

{% endblock %}